.col-l-1 {width: 8.33333%;}
.col-l-2 {width: 16.66667%;}
.col-l-3 {width: 25%;}
.col-l-4 {width: 33.33333%;}
.col-l-5 {width: 41.66667%;}
.col-l-6 {width: 50%;}
.col-l-7 {width: 58.33333%;}
.col-l-8 {width: 66.66667%;}
.col-l-9 {width: 75%;}
.col-l-10 {width: 83.33333%;}
.col-l-11 {width: 91.66667%;}
.col-l-12 {width: 100%;}

.row{
    display: flex;
    flex-wrap: wrap;
}

.head{
    background-color: blue;
    color: white;
}
.head_left {
    display: flex;
}
.head_left i{
    font-size: 30px;
    margin: 10px 5px;
}
.head_left input{
    width: 200px;
    height: 30px;
    margin-top: 25px;
}
.left{
    background-color: white;
    color: black;
}
.right{
    background-color: white;
    color: black;
}
.contant{
    background-color: cadetblue;
    color: black;
}
#head{
    text-align: center;
}
ul{
    list-style: none;
}
li{
    margin: 20px;
}
.height{
    height: 50px;
}
input{
    width: 350px;
    height: 30px;
    border-radius: 20px;
}
.center{
    text-align: center;
}
.head_center{
    margin-top: 30px;
}
.head_right{
    margin-top: 10px;
}
.footer{
    background: darkorange;
}
#end{
    margin: 100px;
    margin-left: 550px;
    text-align: center;
    color: black;
}